backend/.env
backend/.env.example
/backend/storage
/backend/tests
/backend/vendor
/frontend/.angular/cache
/backend/nbproject/private/
/backend/nbproject
frontend/codex-ng-serve.out.log
/backend/bootstrap/cache
/backend/public/storage
